.env
docker/certs/*.key
docker/certs/*.crt
storage/backups/*.sql.gz
storage/cache/*.json
public/uploads/*
!public/uploads/.gitkeep
public/uploads/avatars/*
!public/uploads/avatars/.gitkeep
public/uploads/videos/*
!public/uploads/videos/.gitkeep
composer.phar
composer-setup.php
.phpunit.cache/
