DirectoryIndex router.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    # If the requested file or directory exists, serve it
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # Otherwise, pass the request to router.php
    RewriteRule ^(.*)$ router.php [L,QSA]
</IfModule>
